<div class="sunrise-sunset__container bg-card">
  <div class="row">
    <div class="col-6">
      <div class="sunrise-sunset__block">
        <p class="sunrise-sunset__text">Amanecer</p>
        <object class="sunrise-sunset__svg" data="/assets/icons/sunrise-sunset/clear-day.svg" type="image/svg+xml"></object>
        <p class="sunrise-sunset__date">{{ sunriseTime }} AM</p>
      </div>
    </div>
    <div class="col-6">
      <div class="sunrise-sunset__block">
        <p class="sunrise-sunset__text">Atardecer</p>
        <object class="sunrise-sunset__svg" data="/assets/icons/sunrise-sunset/clear-night.svg" type="image/svg+xml"></object>
        <p class="sunrise-sunset__date">{{ sunsetTime }} PM</p>
      </div>
    </div>
  </div>
</div>
