$weight-light: 300;
$weight-regular: 400;
$weight-medium: 500;
$weight-semi-bold: 600;
$weight-bold: 700;

$font-mobile-xs: 0.65em;
$font-mobile-sm: 0.85em;
$font-mobile-md: 1em;
$font-mobile-lg: 1.25em;
$font-mobile-xl: 1.5em;

$font-tablet-sm: 0.85em;
$font-tablet-md: 1em;
$font-tablet-lg: 1.25em;
$font-tablet-xl: 1.5em;

$font-desktop-sm: 0.85em;
$font-desktop-md: 1em;
$font-desktop-lg: 1.25em;
$font-desktop-xl: 1.5em;
