$background-app: var(--BgBackgroundApp);
$background-card: var(--BgBackgroundCard);
$background-tab: var(--BgBackgroundTab);
$background-btn: var(--BgBackgroundBtn);
$background-offcanvas: var(--BgBackgroundOffcanvas);

$border-soft: var(--BgBorderSoft);
$border-soft-btn: var(--BgBorderSoftBtn);

$shadow-box: var(--BgShadowBox);
$shadow-card: var(--BgShadowCard);
$shadow-offcanvas: var(--BgShadowOffcanvas);

$shadow-icon: 0;
$color-text: var(--BgText);
$color-text-soft: var(--BgTextSoft);
$color-text-invert: var(--BgTextInvert);
$color-icon: var(--BgIcon);
$color-icon-invert: var(--BgInvertColorIcon);

$carousel-buttons-color: #ffffff;

$background-table: #202020;
$link-color: #89c5f1;

$scroll-bar-track-color: var(--BgScrollBarTrackColor);
$scroll-bar-thumb-color: var(--BgScrollBarThumbColor);
$scroll-bar-border: var(--BgScrollBarBorder);
