<div class="weather-offcanvas" [class.open]="isOpen">

  <ng-container *ngIf="!menu">
    <div class="offcanvas__wrapper">
      <div class="offcanvas__header">
        <h2>Busqueda</h2>
        <button class="o__btn" (click)="closeOffcanvas()">
          <svg xmlns="http://www.w3.org/2000/svg" width="1.25em" fill="currentColor" class="bi bi-x-lg"
            viewBox="0 0 16 16">
            <path
              d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
          </svg>
        </button>
      </div>
      <div class="offcanvas__body">
        <div class="container">
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Buscar Ubicaciones...">
        </div>
      </div>
      <div class="offcanvas__footer">
        <button class="btn__solid--primary" (click)="goToConfig()">
          Configuracion
        </button>
        <button class="btn__outline">
          Ayuda
        </button>
        <a class="a__reset" href="https://ceneka.net/AlbanesiDev" target="_blank">
          <button class="btn__outline">
            Donaciones
          </button>
        </a>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="menu">
    <div class="offcanvas__wrapper">
      <div class="offcanvas__header">
        <button class="btn__backward" (click)="backward()">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </button>
        <h2>Configuracion</h2>
      </div>
      <div class="offcanvas__body">
        <ng-container *ngIf="menuBtn">
          <div class="offcanvas__body-btn">
            <button (click)="toggleMenuOption('notification')">Notificaciones</button>
            <button (click)="toggleMenuOption('units')">Unidades</button>
            <button (click)="toggleMenuOption('theme')">Tema</button>
            <button (click)="toggleMenuOption('icons')">Paquete de iconos</button>
            <button (click)="toggleMenuOption('language')">Idioma</button>
            <button (click)="toggleMenuOption('about')">Acerca de</button>
          </div>
        </ng-container>
        <app-configuration></app-configuration>
      </div>
    </div>
  </ng-container>
</div>
